In [1]:
import pandas as pd 
import numpy as np

In [ ]:
budget = pd.read_csv('budget_eval.csv', index_col = 0)

In [ ]:
budget = budget[budget.institution_type == 'Public'].drop(['Gini_gender', 'Gini_ethnics', 'Gini_income', 'institution_type'], axis = 1)
budget_good = budget[budget.is_good == 1]
budget_bad = budget[budget.is_good == 0]

In [ ]:
Income = ['Tuition and fees, after deducting discounts and allowances',
       'Private operating grants and contracts',
       'Sales and services of educational activities',
       'Gifts, including contributions from affiliated organizations']

Expense = ['Student services - Current year total',
           'Instruction - Current year total',
           'Scholarships and fellowships expenses -- Current year total',
           'Research - Current year total',
           'Academic support - Current year total']

In [ ]:
df_good = budget_good[Income].copy()

total = np.zeros(len(budget_good))
for i in Income:
    total += budget_good[i]

for i in Income:
    df_good[i] /= total

In [ ]:
df_bad = budget_bad[Income].copy()

total = np.zeros(len(budget_bad))
for i in Income:
    total += budget_bad[i]

for i in Income:
    df_bad[i] /= total

In [ ]:
df_good.describe()

,"Tuition and fees, after deducting discounts and allowances",Private operating grants and contracts,Sales and services of educational activities,"Gifts, including contributions from affiliated organizations"
count,5459.000000,5459.000000,5459.000000,5459.000000
mean,0.903816,0.031798,0.026442,0.037943
std,0.127010,0.076104,0.069436,0.077178
min,0.000000,0.000000,0.000000,-0.013960
25%,0.864731,0.000000,0.000000,0.000000
50%,0.947478,0.000000,0.000000,0.003742
75%,0.993142,0.028684,0.021499,0.042967
max,1.000145,0.753237,1.000000,0.854930

In [ ]:
df_bad.describe()

,"Tuition and fees, after deducting discounts and allowances",Private operating grants and contracts,Sales and services of educational activities,"Gifts, including contributions from affiliated organizations"
count,5454.000000,5454.000000,5454.000000,5454.000000
mean,0.876332,0.039212,0.036997,0.047460
std,0.149565,0.085879,0.071442,0.089376
min,0.000000,0.000000,0.000000,-0.253293
25%,0.816359,0.000000,0.000000,0.000000
50%,0.924313,0.000982,0.001994,0.013575
75%,0.992232,0.042432,0.044865,0.062214
max,1.188131,0.919363,1.000000,1.000000

In [ ]:
df_good = budget_good[Expense].copy()

total = np.zeros(len(budget_good))
for i in Expense:
    total += budget_good[i]

for i in Expense:
    df_good[i] /= total

In [ ]:
df_bad = budget_bad[Expense].copy()

total = np.zeros(len(budget_bad))
for i in Expense:
    total += budget_bad[i]

for i in Expense:
    df_bad[i] /= total

In [ ]:
df_good.describe()

,Student services - Current year total,Instruction - Current year total,Scholarships and fellowships expenses -- Current year total,Research - Current year total,Academic support - Current year total
count,5459.000000,5459.000000,5459.000000,5459.000000,5459.000000
mean,0.153315,0.588070,0.121592,0.012026,0.124997
std,0.063448,0.103656,0.077469,0.046104,0.063185
min,0.000000,0.096529,0.000000,0.000000,0.000000
25%,0.115418,0.524860,0.064079,0.000000,0.086172
50%,0.147278,0.584963,0.115699,0.000000,0.119263
75%,0.184088,0.646173,0.170384,0.001177,0.159723
max,0.659359,1.000000,0.522717,0.688663,0.652440

In [ ]:
df_bad.describe()

,Student services - Current year total,Instruction - Current year total,Scholarships and fellowships expenses -- Current year total,Research - Current year total,Academic support - Current year total
count,5457.000000,5457.000000,5457.000000,5457.000000,5457.000000
mean,0.129887,0.606787,0.097768,0.044043,0.121516
std,0.077666,0.147411,0.085846,0.099247,0.076894
min,0.000000,0.086885,0.000000,0.000000,0.000000
25%,0.079058,0.515004,0.031236,0.000000,0.074652
50%,0.126315,0.590332,0.080528,0.000000,0.121573
75%,0.171783,0.673768,0.144161,0.020241,0.162604
max,0.589192,1.000000,0.582573,0.839898,0.913115